{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
	<form method="post" id="answer-form">
		<div class="row">
			{% csrf_token %}
			<div class="form-group col-4">
				<h2><label class="col-12">{{ question.title }}</label></h2>
				<p>
				{{ question.text }}
				</p>
				{% for field in form %}
				<p>
					{{ field }}
				</p>
				{% endfor %}
			</div>
			
			<div class = "col text-center">
			<input type="submit" class="btn" value="Answer Question" />
		</div>
	</form>
</div>
<hr />

<div class="container-fluid">
	<table class="questionTable" id="all_questions">
	</table>
</div>
{% endblock content %}

{% block javascript %}
<script>
function getCookie(name) {
	var cookieValue = null;
	if (document.cookie && document.cookie !== '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
			var cookie = jQuery.trim(cookies[i]);
			// Does this cookie string begin with the name we want?
			if (cookie.substring(0, name.length + 1) === (name + '=')) {
				cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				break;
			}
		}
	}
	return cookieValue;
}
var csrftoken = getCookie('csrftoken');
			
$(document).ready(function (){		

		$("#answer-form").submit(function (e) {
			e.preventDefault();
			var serializedData = $(this).serialize();
			
			$.ajax({
				type: "POST",
				url: "{% url "answer" question_id=question.id %}",
				beforeSend: function(xhr) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				},
				data: {
					'answer' : answer-form.answer,
				}
				success: function (response){
					console.log("success");
					console.log(serializedData);
					$("#answer-form").trigger('reset');
				},
					error: function (response) {
						// alert the error if any error occured
						alert(response["responseJSON"]["error"]);
				}
			})
		})
		

	
	});
</script>
{% endblock javascript %}
	